flask==3.0.0
python-dotenv==1.0.0
requests==2.31.0
flask-cors==4.0.0
google-cloud-storage==2.14.0
cloud-sql-python-connector==1.18.0
pymysql==1.1.0
pg8000==1.31.2
sqlalchemy==2.0.25
oauthlib==3.2.2
gunicorn==22.0.0
